/* *{
    font-family:'Times New Roman', Times, serif;
    margin: 0%;
    padding: 0%;
} */

h1{
    background-color: brown;
    color: #fff;
    text-align: center;
}

.img-cont{
    width: 500px;
    margin: 20px auto;
    background-color: red;
}

.img-cont > img{
    width: 500px;
}


